<!DOCTYPE html>
<html lang="en">

<head>
 <meta charset="utf-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <title></title>

 <!-- CSS -->
 <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
 <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.css">
 <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">
 <link rel="stylesheet" href="css/style.css">
 <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">


</head>

<body>

 <div class="container" id="container-title">
   <div class="page-header">
     <div class="row">
       <div class="col-md-12 text">
       </div>
     </div>
   </div>
 </div>

  <nav class="navbar navbar-toggleable-md navbar-light bg-faded" id="navbar-page">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>
    <a class="navbar-brand" href="#">Ullganization</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Help</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link"><%- user %></a>
        </li>
        <li class="navbar-item">
          <a class="nav-link" href="/logout">LogOut</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container" id="">
    <div class="row">
      <div class="col-md-12" id="titulo_timeline">
        <label for="crear_evento">TIMELINE DE EVENTOS DEL USUARIO</label>
        <br>
        <a data-toggle="modal" href="#CrearEvento" class="btn btn-success" id="crear-evento-boton" data-backdrop="static" data-keyboard="false"><i class="fa fa-plus" aria-hidden="true"></i> Crear Evento</a>
      </div>
    </div>
  </div>


  <div class="container" id="">
    <div class="row">
      <div class="col-md-12" id="global">
        <section id="cd-timeline" class="cd-container" id="mensaje">

          <!-- cd-timeline-block -->
          <div class="cd-timeline-block">
            <!-- cd-timeline-img -->
            <div class="cd-timeline-img cd-picture">
              <strong>
      					<text name="fecha_fin_evento_dia[]">10</text>
      					</br>
                <text name="fecha_fin_evento_mes[]">sep</text>
    				  </strong>
            </div>
            <!-- cd-timeline-img -->

            <!-- cd-timeline-content -->
            <div class="cd-timeline-content cd-left" >
              <h2 name="titulos_eventos[]"></h2>
              <span name="fechas_creacion_eventos[]"></span>
              <p name="descripcion_eventos[]"></p>
              <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#EditEvento">
                <i class="fa fa-wrench" aria-hidden="true"> </i>
              </button>
              <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#EliminarEvento cursor: pointer;">
    						<i class="fa fa-trash" aria-hidden="true"></i>
    					</buton>
            </div>
            <!-- cd-timeline-content -->

            <!-- cd-timeline-content -->
            <div class="cd-timeline-content cd-right">
              <h2 name="titulos_eventos[]"></h2>
              <span name="fechas_creacion_eventos[]"></span>
              <p name="descripcion_eventos[]"></p>
              <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#EditEvento">
                <i class="fa fa-wrench" aria-hidden="true"> </i>
              </button>
              <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#EliminarEvento cursor: pointer;">
    						<i class="fa fa-trash" aria-hidden="true"></i>
    					</buton>
            </div>
            <!-- cd-timeline-content -->
          </div>

        </section>
        <!-- cd-timeline -->
      </div>
    </div>
  </div>

  <!--- MODAL AÑADIR NUEVO EVENTO --->
    <div class="modal fade" id="CrearEvento" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h2 class="modal-title">Nuevo Evento</h2></br>
          </div>
          <div class="modal-body">
            <form role="form" method="post" action ="/student/evento">
              <div class="row">
                <div class="form-group col-md-4">
                  <label for="fecha">Fecha Inicio</label>
                  <input type="date" class="form-control" name="fecha_inicio" value="">
                </div>
                <div class="form-group col-md-4">
                  <label for="fecha">Fecha Fin</label>
                  <input type="date" class="form-control" name="fecha_fin" value="">
                </div>
                <div class="form-group col-md-4">
                  <label for="titulo_evento">Título</label>
                  <input type="text" class="form-control" name="titulo_evento" value="">
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-12">
                  <label for="descripcion_evento">Descripción</label>
                  <textarea type="text" class="form-control" name="descripcion_evento" value="" rows="4"></textarea>
                </div>
              </div>
              <br>
              <button type="submit" class="btn btn-primary" onclick="añadir_evento();">
                <i class="fa fa-plus-circle" aria-hidden="true"></i> Añadir Evento
              </button>
              <button type="button" class="btn btn-danger" data-dismiss="modal">
                <i class="fa fa-times" aria-hidden="true"></i> Cerrar
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!--- MODAL EDITAR EVENTO --->
      <div class="modal fade" id="EditEvento" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h2 class="modal-title">Nuevo Evento</h2></br>
            </div>
            <div class="modal-body">
              <form role="form" method="post">
                <div class="row">
                  <div class="form-group col-md-4">
                    <label for="fecha">Fecha Inicio</label>
                    <input type="date" class="form-control" name="fecha_inicio" value="">
                  </div>
                  <div class="form-group col-md-4">
                    <label for="fecha">Fecha Fin</label>
                    <input type="date" class="form-control" name="fecha_fin" value="">
                  </div>
                  <div class="form-group col-md-4">
                    <label for="titulo_evento">Título</label>
                    <input type="text" class="form-control" name="titulo_evento" value="">
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-md-12">
                    <label for="descripcion_evento">Descripción</label>
                    <textarea type="text" class="form-control" name="descripcion_evento" value="" rows="4"></textarea>
                  </div>
                </div>
                <br>
                <button type="button" class="btn btn-primary" onclick="añadir_evento();">
                  <i class="fa fa-plus-circle" aria-hidden="true"></i> Añadir Evento
                </button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                  <i class="fa fa-times" aria-hidden="true"></i> Cerrar
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>

 <!-- Javascript -->
 <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
 <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.1/js/tether.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/qtip2/3.0.3/jquery.qtip.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
 <script src="js/ullganizate.js"></script>


</body>

</html>
